<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">

      <div class="title">
        <h3>{{title}}</h3>
        <h4>Posted by {{user.username}}</h4>
      </div>
     
      <div class="post-text">
         {{post_text}} 
      </div>

    </article>
  </li>
  {{/each}}
</ol>